# Python
__pycache__/
*.py[cod]
*.db
*.sqlite3
.env
venv/
.venv/
backend/build/
backend/dist/
src-tauri/target/
src-tauri/binaries/*.exe
node_modules/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

